#root {
    max-width: 2560px;
    text-align: center;
}
body {
    place-content: center;
    background-image: url("src/assets/svg/landing-bg-1.svg"), url("src/assets/svg/landing-bg-2.svg"), url("src/assets/svg/landing-bg-3.svg"), url("src/assets/svg/landing-bg-5.svg");
    background-repeat: no-repeat;
    background-position: left 45em, right 55em, left 130em, right 115em;
    background-size: 910px 1250px, 1550px 1566px;
}
html:focus-within {
    scroll-behavior: smooth;
}
.info-card {
    border: double 3px transparent;
    border-radius: 40px;
    background-image: linear-gradient(#2D2C2F, #2D2C2F),
    linear-gradient(#FEA800, #4F0996);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.card-size-org {
    max-width: 350px;
    width: 100%;
    max-height: 347px;
    height: 100%;
    margin-inline: auto;
}
.card-size-time {
    width: 470px;
    height: 252px;
    margin-inline: auto;
    position: relative;
    bottom: 2em;
}
.card-size-info {
    width: 620px;
    position: relative;
    right: 10em;
}
.card-size-simple {
    height: 415px;
    position: relative;
    bottom: 6em;
}
h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.8em;
    margin-right: 0.8em;
    margin-left: 0.8em;
    text-align: start;
}

.info-card:nth-child(1){
    grid-area: one;
}
.info-card:nth-child(2) {
    grid-area: two;
}
.info-card:nth-child(3){
    grid-area: three;
}
.info-card:nth-child(4){
    grid-area: four;
}
.info-card:nth-child(5){
    grid-area: five;
}
.card-container {
    display: grid;
    justify-content: center;
    margin-inline: auto;
    gap: 2rem;
    grid-auto-columns: 350px 80px 350px 1fr;
    grid-template-rows: 1fr 250px;
    grid-template-areas:
    'one'
    'two'
    'three'
    'four'
    'five';
    padding-block: 4rem;
    width: min(95%, 80rem);
}
.svg-icon {
    color: black;
    margin-bottom: -1em;
    margin-top: 0.5em;
    filter: drop-shadow(0px 0px 10px white);
}

@media screen and (min-width: 30em) {
    .card-container {
        grid-template-areas:
      "one two two five"
      "three three four five";
    }
}

.spacing-card {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(90deg, #FEA800, #2A0153);
    width: 100%;
    height: 90px;
    border-radius: 35px;
    margin-top: 4em;
    margin-bottom: 4em;
    align-items: center;
}
.h1-about {
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 750;
    font-size: 3.5em;
    font-style: normal;
    color: white;
}